<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ao666.community_background.server.mapper.UserCarMapper">

    <select id="pageQuery" resultType="com.ao666.community_background.pojo.vo.UserCarPageVO">
        select u.name, u.username, u.phone, u.sex, uc.car_license from tb_user_car as uc
                left join tb_user as u on uc.user_id = u.id
        <where>
            <if test="name != null and name != ''">and u.name like concat('%', #{name}, '%')</if>
            <if test="carLicense != null and carLicense != ''">and uc.car_license like concat('%', #{carLicense}, '%')</if>
        </where>
    </select>
    <select id="pageUserQuery" resultType="com.ao666.community_background.pojo.vo.UserCarVO">
        select id, car_license from tb_user_car where user_id = #{userId}
    </select>
</mapper>